<div class="container-fluid" ng-show="account.isLoggedIn()">
        <table class="table table-bordered table table-striped">
        <thead>
            <tr class="success">
                <th>Hour</th>
                <th>Name</th>
                <th>Room</th>
                <th ng-show="account.getClaim('isAdmin')">Edit</th>
                <th>Rhythm</th>
                <th ng-show="account.getClaim('isAdmin')">Instructor</th>
                <th ng-show="account.getClaim('isAdmin')">Delete All</th>
            </tr>
        </thead>
        <tbody>

            <tr ng-repeat="student in controller.students" class="info">
                <td>{{student.hour}}</td>
                <td>{{student.firstName}} {{student.lastName}}</td>
                <td>{{student.room}}</td>
                <td ng-show="account.getClaim('isAdmin')"><button type="button" class="btn btn-primary btn-md" ui-sref="edit({id: student.id})">Edit Student</button></td> 
                <td class="danger">{{student.rhythm.name}}</td>
                <td class="danger" ng-show="account.getClaim('isAdmin')">{{student.instructor.fullName}}</td>
                <td ng-show="account.getClaim('isAdmin')"><button type="button" class="btn btn-danger" ui-sref="delete({id: student.id})">Delete All</button></td>                               
            </tr>

        </tbody>
    </table>
</div>