<div class="jumbotron" ng-show="account.isLoggedIn()">
    <table class="table table-bordered table table-striped">
        <thead>
            <tr class="success">
                <th>Hour</th>
                <th>FullName</th>
                <th>Rhythm</th>
                <th>Room</th>
            </tr>
        </thead>
        <tbody>

            <tr ng-repeat="student in controller.students">
                <td>{{student.hour}}</td>
                <td>{{student.firstName}} {{student.lastName}}</td>
                <td>{{student.rhythm.name}}</td>
                <td>{{student.room}}</td>
            </tr>

        </tbody>
    </table>
</div>