
<fieldset>
   

    <ul>
        <li ng-repeat="externalLogin in account.externalLogins">
            <a target="_self" href="/api/account/ExternalLogin?provider={{externalLogin.authenticationScheme}}&returnUrl=/">{{externalLogin.displayName}}</a>
        </li>
    </ul>

</fieldset>

<fieldset>
    
    <ul>
        <li ng-repeat="error in controller.validationMessages">
            {{error}}
        </li>
    </ul>

    <form role="form" class="form-horizontal col-md-4" ng-submit="controller.login()">
        <div>
            <label for="email">Email:</label>
            <input type="email" class="form-control" placeholder="Email" ng-model="controller.loginUser.email" />
        </div>
        <div>
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" placeholder="Password" ng-model="controller.loginUser.password" />
        </div>
        <hr />
        <div>
            <button class="btn btn-lg btn-primary" type="submit">
                Log in
            </button>
            <a href="/register">Register</a>
        </div>
    </form>
</fieldset>
