<div>
    <table class="table table-bordered table table-striped" ng-show="account.isLoggedIn()">
        <thead>
            <tr class="success">
                <th>Hour</th>
                <th>Name</th>
                <th>Room</th>
                <th>Edit</th>
                <th>Rhythm</th>
                <th>Instructor</th>
                <th>Delete All</th>

            </tr>
        </thead>
        <tbody>

            <tr class="info" ng-repeat="student in controller.studentsTwo">
                <td>{{student.hour}}</td>
                <td>{{student.firstName}} {{student.lastName}}</td>
                <td>{{student.room}}</td>
                <td><button type="button" class="btn btn-primary btn-md" ui-sref="edit({id: student.id})">Edit Student</button></td>
                <td class="danger">{{student.rhythm.name}}</td>
                <td class="danger">{{student.instructor.fullName}}</td>
                <td><button type="button" class="btn btn-danger" ui-sref="delete({id: student.id})">Delete All</button></td>

            </tr>

        </tbody>
    </table>
</div>